@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", "Arial";
  scroll-behavior: smooth;
}

.cards {
  width: 80%;
  margin: 0 auto;
}

.slick-slide > div {
  margin: 0px 25px;
}

.slick-list {
  margin: 10px 10px;
}

.slick-prev::before,
.slick-next:before {
  background-color: rgb(141, 140, 140);
  border-radius: 500px;
}

#specificElement::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
#specificElement {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
#specificElement {
  -ms-overflow-style: none;
}
