@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", "Arial";
  scroll-behavior: smooth;
}

.cards {
  width: 90%;
  margin: 0 auto;
}

.slick-slide > div {
  margin: 0px 25px;
}

.slick-list {
  margin: 10px 10px;
}
.slick-prev,
.slick-next {
  font-size: 15px !important;
  margin-top: -40px;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* color of the thumb */
  border-radius: 6px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; /* color of the thumb on hover */
}
